<div class="main-content">
    {{>header}}
    <p>
        this site was created by Yousef Nourizadeh. it uses data from mapbox.com and weatherstack.com!
    </p>
    <img src={{image}} class="portrait">
</div>
{{>footer}}