<div class="main-content">
    {{>header}}
    <p>use this website to gey your weather!</p>
    <form>
        <input type="text" placeholder="Location" />
        <input type="submit" value="search" />
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
</div>
{{>footer}}